@{
    var model = new netCoreNew.ViewModels.BreadcrumVM
    {
        Back = "",
        UrlBack = "",
        Current = "Listado",
        UrlCurrent = "/Admin/CodigoProveedor"
    };
}

<partial name="~/Views/Shared/Admin/_SubHeader.cshtml" model="model" />

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

    <div class="kt-portlet">

        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Códigos de Proveedor
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown">
                        <a href="#" class="btn btn-label-brand btn-bold dropdown-toggle" data-toggle="dropdown">
                            Acciones
                        </a>
                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">

                            <ul class="kt-nav">
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link" data-toggle="modal" data-target="#modal_nuevo" id="btn_importar">
                                        <i class="kt-nav__link-icon flaticon-upload"></i>
                                        <span class="kt-nav__link-text">Importar</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    &nbsp;
                 
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-brand btn-icon-sm ml-2" data-toggle="modal" data-target="#modal_nuevo" id="btn_crear">
                            <i class="fa fa-plus"></i> Nuevo
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">

            <table class="table table-striped table-bordered table-hover" id="kt_table_1">
                <thead>
                    <tr>
                        <th class="all">Proveedor</th>
                        <th class="all">Artículo</th>
                        <th class="all">Codigo General</th>
                        <th class="all">Código Proveedor</th>
                        <th class="all">Precio Proveedor</th>
                        <th class="all">Acciones</th>
                    </tr>
                </thead>

                <tbody id="tabla-partial"></tbody>

            </table>

        </div>

    </div>

</div>

@section Styles{

}

@section Scripts{

    <script src="~/admin/js/InitDatatable.js"></script>

    <script>

        $("#menu_codigosProveedor").addClass("kt-menu__item--active");

        "use strict";

        var tabla;
        var columns = [
            { "data": "proveedor" },
            { "data": "articulo" },
            { "data": "codigoGeneral" },
            { "data": "codigo" },
            { "data": "precio" },
            { "data": "" }
        ];

        var columnDefs = [{
            "defaultContent": "-",
            "targets": "_all"
        },
        {
            targets: -1,
            orderable: false,
            render: function (data, type, full, meta) {
                var acciones = "";
                
                acciones += '<a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" onclick="Editar($(this))" title="Editar" data-toggle="modal" data-target="#modal_nuevo" data-id="' + full.id + '"><i class="la la-edit"></i></a>';
                acciones += '<a href="javascript:void(0);" class="btn btn-sm btn-clean btn-icon btn-icon-md" onclick="Eliminar($(this))" title="Eliminar" data-id="' + full.id + '"><i class="la la-trash text-danger"></i></a>';
                acciones += '<a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" onclick="EditInline($(this))" title="EditInline" data-toggle="modal" data-target="#modal_nuevo" data-id="' + full.idProveedor + '"><i class="la la-cubes"></i></a>';

                return acciones
            }
        }];

        function initAcciones() {
            $('#btn_importar').on('click', function (e) {

                KTApp.block('.modal-body', {});

                $("#title_modal_nuevo").html("Importar");
                $("#btn_modal_nuevo").show();

                $.get("/Admin/ImportarCodigoProveedor", {}, function (result) {

                    $('#content_modal_nuevo').html(result);

                    InitModal();

                    $('#btn_modal_nuevo').unbind('click').click(function (e) {

                        e.preventDefault();

                        var btn = $(this);
                        btn.attr('disabled', true);

                        var form = $(this).closest("form");
                        $.validator.unobtrusive.parse(form[0]);
                        var _data = new FormData(form[0]);

                        if (!form.valid()) {
                            formError(btn, "Algunos datos no son correctos");
                            return;
                        }

                        KTApp.block('.modal-body', {});

                        $.ajax({
                            url: "/Admin/ImportarCodigoProveedor",
                            type: "POST",
                            data: _data,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (result) {
                                if (result.success) {

                                    var acciones = "";
                                    function Convertir(texto, color) {
                                        return '<div class="kt-list-timeline__item">' +
                                            '<span class="kt-list-timeline__badge kt-list-timeline__badge--' + color + '"></span>' +
                                            '<span class="kt-list-timeline__text">' + texto + '</span>' +
                                            '</div>';
                                    }
                                    for (var i = 0; i < result.exitos.length; i++) {
                                        acciones += Convertir("Codigo Proveedor nuevo | " + result.exitos[i], "success");
                                    }
                                    for (var i = 0; i < result.errores.length; i++) {
                                        acciones += Convertir("Error | " + result.errores[i], "danger");
                                    }
                                    $("#divResultado").html(acciones);

                                    KTApp.unblock('.modal-body');
                                    btn.attr('disabled', true);
                                    successMessage(result.message);
                                    tabla.ajax.reload();
                                }
                                else {
                                    formError(btn, result.message);
                                }
                                return;
                            },
                            error: function (xhr, textStatus) {
                                formError(btn, "Algunos datos no son correctos");
                                return;
                            }
                        });

                    });

                }).fail(function (xhr, status, error) {
                    errorMessage("Ups.. Surgio un error inesperado");
                    return;
                });

            });

        }

        

        var DataTable = function () {

            return {

                init: function () {
                    initTable("/Admin/CargarTablaCodigoProveedor");
                    initMetodos(
                        "/Admin/CreateCodigoProveedor",
                        "/Admin/EditCodigoProveedor",
                        "/Admin/EliminarCodigoProveedor"                        
                    );
                    initAcciones();
                },

            };

        }();

        jQuery(document).ready(function () {
            DataTable.init();
        });

        function EditInline(btn) {

            console.log("EditInline");

            KTApp.block('.modal-body', {});

            $("#title_modal_nuevo").html("Editar Código Proveedor");
            $("#btn_modal_nuevo").hide();

            $.get("/Admin/EditInlineCodigoProveedor", { id: btn.data("id") }, function (result) {

                $('#content_modal_nuevo').html(result);

                InitModal();

            }).fail(function (xhr, status, error) {
                errorMessage("Ups.. Surgio un error inesperado");
                return;
            });
        }

    </script>

}