@{
    var model = new netCoreNew.ViewModels.BreadcrumVM
    {
        Back = "",
        UrlBack = "",
        Current = "Listado",
        UrlCurrent = "/Admin/Recuentos"
    };
}

<partial name="~/Views/Shared/Admin/_SubHeader.cshtml" model="model" />

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

    <div class="kt-portlet">

        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown">
                        <a href="#" class="btn btn-label-brand btn-bold dropdown-toggle" data-toggle="dropdown">
                            Acciones
                        </a>
                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">

                            <ul class="kt-nav">
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link" data-toggle="modal" data-target="#modal_nuevo" id="btn_importar">
                                        <i class="kt-nav__link-icon flaticon-upload"></i>
                                        <span class="kt-nav__link-text">Importar</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    &nbsp;
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-brand btn-icon-sm ml-2" data-toggle="modal" data-target="#modal_nuevo" id="btn_crear">
                            <i class="fa fa-plus"></i> Nuevo
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">

            <table class="table table-striped table-bordered table-hover" id="kt_table_1">
                <thead>
                    <tr>
                        <th class="all">Nombre</th>
                        <th class="all">Creador</th>
                        <th class="all">Fecha creacion</th>
                        <th class="all">Fecha modificacion</th>
                        <th class="">Etiquetas</th>
                        <th class="all">Total</th>
                        <th class="all">Acciones</th>
                    </tr>
                </thead>

                <tbody id="tabla-partial"></tbody>

            </table>

        </div>

    </div>

</div>

@section Styles{

}

@section Scripts{

    <script src="~/admin/js/InitDatatable.js"></script>

    <script>

        $("#menu_recuentos").addClass("kt-menu__item--active");

        "use strict";

        var tabla;
        var columns = [
            { "data": "nombre" },
            { "data": "usuario" },
            { "data": "fecha" },
            { "data": "modificado" },
            { "data": "etiquetas" },
            { "data": "total" },
            { "data": "" }
        ];

        var columnDefs = [{
            "defaultContent": "-",
            "targets": "_all"
        },
        {
            targets: -1,
            orderable: false,
            render: function (data, type, full, meta) {
                var acciones = "";

                acciones += '<a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" onclick="Editar($(this))" title="Editar" data-toggle="modal" data-target="#modal_nuevo" data-id="' + full.id + '"><i class="la la-edit"></i></a>';
                acciones += '<a href="javascript:void(0);" class="btn btn-sm btn-clean btn-icon btn-icon-md" onclick="Eliminar($(this))" title="Eliminar" data-id="' + full.id + '"><i class="la la-trash text-danger"></i></a>';
                acciones += '<a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" onclick="Ver($(this))" title="Ver" data-toggle="modal" data-target="#modal_nuevo" data-id="' + full.id + '"><i class="la la-eye"></i></a>';
                acciones += '<a href="javascript:void(0);" class="btn btn-sm btn-clean btn-icon btn-icon-md" onclick="Exportar($(this))" title="Exportar" data-toggle="modal" data-target="#modal_nuevo" data-id="' + full.id + '"><i class="la la-download"></i></a>';

                return acciones
            }
        }];

        function initAcciones() {

            $('#btn_importar').on('click', function (e) {

                KTApp.block('.modal-body', {});

                $("#title_modal_nuevo").html("Importar");
                $("#btn_modal_nuevo").show();

                $.get("/Admin/ImportarRecuento", {}, function (result) {

                    $('#content_modal_nuevo').html(result);

                    InitModal();

                    $('#btn_modal_nuevo').unbind('click').click(function (e) {

                        e.preventDefault();

                        var btn = $(this);
                        btn.attr('disabled', true);

                        var form = $(this).closest("form");
                        $.validator.unobtrusive.parse(form[0]);
                        var _data = new FormData(form[0]);

                        if (!form.valid()) {
                            formError(btn, "Algunos datos no son correctos");
                            return;
                        }

                        KTApp.block('.modal-body', {});

                        $.ajax({
                            url: "/Admin/ImportarRecuento",
                            type: "POST",
                            data: _data,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (result) {
                                if (result.success) {
                                    $('#modal_nuevo').modal('toggle');
                                    var acciones = "";
                                    function Convertir(texto, color) {
                                        return '<div class="kt-list-timeline__item">' +
                                            '<span class="kt-list-timeline__badge kt-list-timeline__badge--' + color + '"></span>' +
                                            '<span class="kt-list-timeline__text">' + texto + '</span>' +
                                            '</div>';
                                    }
                                    for (var i = 0; i < result.exitos.length; i++) {
                                        acciones += Convertir("Recuento nuevo | " + result.exitos[i], "success");
                                    }
                                    for (var i = 0; i < result.errores.length; i++) {
                                        acciones += Convertir("Error | " + result.errores[i], "danger");
                                    }
                                    $("#divResultado").html(acciones);

                                    KTApp.unblock('.modal-body');
                                    btn.attr('disabled', true);
                                    successMessage(result.message);
                                    tabla.ajax.reload();
                                }
                                else {
                                    formError(btn, result.message);
                                }
                                return;
                            },
                            error: function (xhr, textStatus) {
                                formError(btn, "Algunos datos no son correctos");
                                return;
                            }
                        });

                    });

                }).fail(function (xhr, status, error) {
                    errorMessage("Ups.. Surgio un error inesperado");
                    return;
                });

            });

        }

        var DataTable = function () {

            return {

                init: function () {
                    initTable("/Admin/CargarTablaRecuentos");
                    initMetodos(
                        "/Admin/CreateRecuento",
                        "/Admin/EditRecuento",
                        "/Admin/EliminarRecuento",
                        ""
                    );
                    initAcciones();
                },

            };

        }();

        jQuery(document).ready(function () {
            DataTable.init();
        });

        function Ver(btn) {

            console.log("Ver");

            KTApp.block('.modal-body', {});

            $("#title_modal_nuevo").html("Ver");
            $("#btn_modal_nuevo").hide();

            $.get("/Admin/VerRecuento", { id: btn.data("id") }, function (result) {

                $('#content_modal_nuevo').html(result);

                InitModal();

            }).fail(function (xhr, status, error) {
                errorMessage("Ups.. Surgio un error inesperado");
                return;
            });
        }


        function CargarDatosArticulo(item) {

            debugger;

            var id = item.val();   
            

            $.get("/Admin/CargarDatosArticulo", { id: id }, function (result) {                

                $('.rowRepeater').each(function () {

                    var existeCodigo = $(this).find("select")[0].value == id;

                    var existeArticulo = $(this).find("select")[1].value == id;

                    if (existeCodigo || existeArticulo)
                    {
                        
                        if (!existeCodigo)
                        {
                            $(this).find(".codigo").last().val(result.data.id).trigger('change');
                        }

                        if (!existeArticulo)
                        {
                            $(this).find(".idArticulo").last().val(result.data.id).trigger('change');
                        }                  
                                        
                        $(this).find(".precio")[0].value = result.data.precio;
                        $(this).find(".unidadMedida")[0].value = result.data.unidMedida;
                    }  

                });

            }).fail(function (xhr, status, error) {
                errorMessage("Ups.. Surgio un error inesperado");
                return;
            });

        }
      
        //TODO-GASTON: optimizar código para no duplicar esta función con la de arriba. Evaluar pasar un parámetro para ver si se actualiza articulo o codigo
        //function CargarDatosArticuloDesdeCodigo(item) {

        //    debugger;

        //    var id = item.val();

        //    $.get("/Admin/CargarDatosArticulo", { id: id }, function (result) {

        //        $('.rowRepeater').each(function () {

        //            var existe = $(this).find("select")[0].value == id;

        //            if (existe) {   

        //                //$(this).find(".idArticulo")[0].value = result.data.id;
        //                $(this).find(".idArticulo").last().val(result.data.id).trigger('change');
        //                $(this).find(".precio")[0].value = result.data.precio;
        //                $(this).find(".unidadMedida")[0].value = result.data.unidMedida;
        //            }

        //        });

        //    }).fail(function (xhr, status, error) {
        //        errorMessage("Ups.. Surgio un error inesperado");
        //        return;
        //    });

        //}

        //////////////////////////////////////////////////////////////////////////////

        function Exportar(btn) {

            var id = btn.data("id");

            btn.attr('disabled', true);

            var url = "/Admin/ExportarNuevo";

            KTApp.block('.modal-body', {});

            $("#title_modal_nuevo").html("Exportar");
            $("#btn_modal_nuevo").show();

            $.get(url, { id: id }, function (result) {

                $('#content_modal_nuevo').html(result);

                InitModal();

                $('#btn_modal_nuevo').unbind('click').click(function (e) {

                    e.preventDefault();

                    var btn = $(this);
                    btn.attr('disabled', true);

                    var form = $(this).closest("form");
                    $.validator.unobtrusive.parse(form[0]);
                    var _data = new FormData(form[0]);

                    if (!form.valid()) {
                        formError(btn, "Algunos datos no son correctos");
                        return;
                    }

                    KTApp.block('.modal-body', {});

                    $.ajax({
                        url: url,
                        type: "POST",
                        data: _data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            if (result.success) {

                                $('#modal_nuevo').modal('toggle');
                                location.href = result.file;
                                btn.attr('disabled', false);
                                KTApp.unblock('.modal-body');

                            }
                            else {
                                formError(btn, result.message);
                            }
                            return;
                        },
                        error: function (xhr, textStatus) {
                            formError(btn, "Algunos datos no son correctos");
                            return;
                        }
                    });

                });

            }).fail(function (xhr, status, error) {
                btn.attr('disabled', false);
                errorMessage("Ups.. Surgio un error inesperado");
                return;
            });

            //console.log("Exportar");

            //var id = btn.data("id");

            //btn.attr('disabled', true);

            //var url = "/Admin/ExportarExcelRecuento";

            //$.get(url, { id: id }, function (result) {

            //    location.href = result.file;

            //    btn.attr('disabled', false);

            //    ActualizarTabla()

            //}).fail(function (xhr, status, error) {
            //    btn.attr('disabled', false);
            //    errorMessage("Ups.. Surgio un error inesperado");
            //    return;
            //});

        }

        function BotonExportarSeleccion() {

            var items = $(".seleccionExportar:checked");

            if (items.length == 0) {
                $("#btnExportarSeleccion").hide();
            }
            else {
                $("#btnExportarSeleccion").show();
            }

        }

        function ExportarSeleccion(btn) {

            var idDetalles = [];

            $(".seleccionExportar:checked").each(function () {

                var row = $(this).closest(".rowRepeater")[0];

                var valor = $(row).find(".idDetalle")[0].value;

                idDetalles.push(valor);

            });

            console.log("Exportar");

            var id = btn.data("id");

            btn.attr('disabled', true);

            var url = "/Admin/ExportarNuevo";

            KTApp.block('.modal-body', {});

            $("#title_modal_nuevo").html("Exportar");
            $("#btn_modal_nuevo").show();

            $.get(url, { id: 0, idDetalle: idDetalles.join(',') }, function (result) {

                $('#content_modal_nuevo').html(result);

                InitModal();

                $('#btn_modal_nuevo').unbind('click').click(function (e) {

                    e.preventDefault();

                    var btn = $(this);
                    btn.attr('disabled', true);

                    var form = $(this).closest("form");
                    $.validator.unobtrusive.parse(form[0]);
                    var _data = new FormData(form[0]);

                    if (!form.valid()) {
                        formError(btn, "Algunos datos no son correctos");
                        return;
                    }

                    KTApp.block('.modal-body', {});

                    $.ajax({
                        url: url,
                        type: "POST",
                        data: _data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            if (result.success) {

                                $('#modal_nuevo').modal('toggle');
                                location.href = result.file;
                                btn.attr('disabled', false);
                                KTApp.unblock('.modal-body');

                            }
                            else {
                                formError(btn, result.message);
                            }
                            return;
                        },
                        error: function (xhr, textStatus) {
                            formError(btn, "Algunos datos no son correctos");
                            return;
                        }
                    });

                });

            }).fail(function (xhr, status, error) {
                btn.attr('disabled', false);
                errorMessage("Ups.. Surgio un error inesperado");
                return;
            });
        }

                //$('#btnExportar').on('click', function (e) {

                //            var btn = $(this);
                //            btn.attr('disabled', true);

                //            var url = "/Admin/ExportarExcelRecuento";

                //            $.get(url, { id: btn.data("id") }, function (result) {

                //                location.href = result.file;

                //                btn.attr('disabled', false);

                //                ActualizarTabla()

                //            }).fail(function (xhr, status, error) {
                //                btn.attr('disabled', false);
                //                errorMessage("Ups.. Surgio un error inesperado");
                //                return;
                //            });

                //            });

    </script>

}