@using netCoreNew.Enum

<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@Valores.Nombre | @ViewBag.Title</title>
<meta name="description" content="@Valores.Descripcion">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="shortcut icon" href="../favicon.png" />

<meta property="og:description" content="" />
<meta property="og:title" content="" />
<meta property="og:image:width" content="458" />
<meta property="og:image:height" content="458" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Core" />
<meta property="og:locale" content="es_LA" />
<meta property="og:image" content="" />
<meta property="og:image:alt" content="Core" />
<meta property="og:url" content="" />